<div class="form text-center"> 
<h1>Financiera G47</h1>
<p>Soluciones Financieras a su alcance </p>
<div class="form text-center"> 

<div class="container">
<%= image_tag 'imagen_proyecto', class:"img-fluid" %>

  <h2>Tipo de Crédito</h2>
  <form>
    <div class="row text-center">
        <div class="col-md-6 offset-md-3">
          <select class="custom-select" id='loanTypeInput'>
            <option selected>Elija una opción</option>
            <option value="personal">Personal</option>
            <option value="car">Vehículo</option>
            <option value="house">Vivienda</option>
          </select>
        </div>
    </div>
    </div>
        <h3>Cálculo de cuota de Préstamo</h3>

  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="monto" id='amount'>
    </div>
    <div class="col">
          <select class="custom-select" id='term'>
            <option selected>Plazo en meses</option>
            <option value="1">36</option>
            <option value="2">60</option>
            <option value="3">96</option>
          </select>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Intéres Mensual" id='rate'>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Cuota">
    </div>
  </div>
</form>
</div>