<h1>Financiera G47</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div class="form text-center"> 
  <h2>Tipo de Crédito</h2>
    <div class="row text-center">
        <div class="col-md-6 offset-md-3">
          <select class="custom-select">
            <option selected>Elija una opción</option>
            <option value="1">Personal</option>
            <option value="2">Vehiculo</option>
            <option value="3">Vivienda</option>
          </select>
        </div>
    </div>
        <h3>Cálculo de cuota de Préstamo</h3>

        <form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="monto">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Plazo">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Intéres Mensual">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Cuota">
    </div>
  </div>
</form>
</div>